.description {
    display: block;
    flex-direction: column;
    width: 100vw;
    padding: 0.3rem;
    font-weight: bold;
    color: #313030;
    margin-block: 0.5rem;
    font-family: 'Nanum_Pen_Script';
}
.description:hover {
    border: 3px solid #66cf2d;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    border-radius: 3rem;
}
.description p {
    font-size: 1.6rem;
    margin-inline: 1rem;
}
@media (min-width: 700px) {
    .description {
        width: 90vw;
    }
}
@media (min-width: 900px) {
    .description {
        width: 60vw;
        padding: 1.5rem;
    }
}
@font-face {
    font-family: 'Nanum_Pen_Script';
    src: local('Nanum_Pen_script'), url(../fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf) format('truetype');
  }
