.description {
    display: block;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
    font-weight: bold;
    color: #313030;
    font-size: 1.3rem;
    margin-block: 0.5rem;
}
.description:hover {
    border: 1px solid #66cf2d;
}
.description p {
    font-size: 1.2rem;
    margin-inline: 1rem;
}
@media (min-width: 700px) {
    .description {
        width: 70vw;
    }
}
