.certificates_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 4rem;
    border-radius: 3rem;
}
.certificates_container:hover {
    border: 3px solid #66cf2d;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
}
.certificates {
    font-weight: bold;
}
.certificates:hover {
    text-decoration: underline;
}
.certificates_title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1rem;
    font-family: "Nanum_Pen_Script";
}
.certificates_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 500px) {
    .certificates_title {
        font-size: 2.2rem;
    }
}
@font-face {
    font-family: 'Nanum_Pen_Script';
    src: local('Nanum_Pen_script'), url(../fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf) format('truetype');
  }