.contact_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}
.contact_data {
    width: 50vw;
    padding-inline: 1rem;
    font-weight: bold;
    padding: 0.2rem;
}
.linkedin {
    object-fit: contain;
}