.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    border-radius: 3rem;
    padding: 1.5rem;
    width: 95vw;
    border: 1px solid #66cf2d;
}
.title {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    font-family: 'Nanum_Pen_Script';
}
.form_group {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2rem;
    width: 85vw;
}
.text_input {
    width: 100%;
}
.textarea {
    width: 100%;
    min-height: 50%;
    max-height: 40%;
    max-width: 100%;
    resize: vertical;
    border-radius: 0.3rem;
}
.button_style {
    border-radius: 0.3rem;
    padding: 0.2rem 0.8rem;
    font-weight: bold;
    height: auto;
}
.thanks_message {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.form_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 65vh;
}
.form_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_group, .checkbox_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
@media (min-width: 400px) {
    .background {
        width: 80vw;
    }
    .form_group {
        width: 60vw;
    }
  }
@media (min-width: 600px) {
    .contact_form {
        width: 50vw;;
    }
    .background {
        width: 60vw;
    }
    .form_group {
        width: 40vw;
    }
}
@media (min-width: 1000px) {
    .background {
        width: 35vw;
    }
    .form_group {
        width: 20vw;
    }
}
@font-face {
    font-family: 'Nanum_Pen_Script';
    src: local('Nanum_Pen_script'), url(../fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf) format('truetype');
  }