.image_dimension {
    object-fit: contain;
    margin: 0.5rem;
    border-radius: 50%;
}
.job_container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: whitesmoke;
    margin-inline: 0.5rem;
    height: 80vh;
    width: 100vw;
}
.name_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-shadow: -15px 5px 20px #ced0d3;
    color: black;
    text-transform: capitalize;
}
.name {
    font-size: 1rem;
    font-weight: bold;
}
.job_title {
    font-size: 0.8rem;
}
@media (min-width:400px) {
    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .job_title {
        font-size: 1.2rem;
    }
    .image_dimension {
        width: 12vw;
        height: auto;
    }
}
@media (min-width: 550px) {
    .name {
        font-size: 1.6rem;
        font-weight: bold;
    }
    .job_title {
        font-size: 1.6rem;
    }
    .job_container {
        margin-inline: 3rem;
        justify-content: space-around;
    }
}
@media (min-width: 800px) {
    .name {
        font-size: 3rem;
        font-weight: bold;
    }
    .job_title {
        font-size: 3rem;
    }
}