.image_dimension {
    display: block;
    object-fit: contain;
    border-radius: 50%;
    height: auto;
    border: 1px solid rgb(43, 224, 76);
}
.hello {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #64cc2c;
    color: white;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
}
.hello:hover {
    text-shadow: -15px 5px 20px black;
}
.job_container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    gap: 2rem;
    margin-block: 1rem;
    background-color: white;
}
.name_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: capitalize;
    gap: 1rem;
}
.name {
    font-size: 2rem;
    font-weight: bold;
}
.job_title {
    font-size: 1.6rem;
}
@media (min-width: 550px) {
    .name {
        font-size: 3rem;
    }
    .job_title {
        font-size: 2.5rem;
    }
}
@media (min-width: 850px) {
    .name {
        font-size: 3rem;
        font-weight: bold;
    }
    .job_title {
        font-size: 3rem;
    }
    .job_container {
        display: flex;
        flex-direction: row;
    }
    .image_dimension {
        height: 300px;
        width: 300px;
    }
}