.navbar_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 20vh;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}