.skills_title {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Nanum_Pen_Script';
}
.skills_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    border-radius: 3rem;
    
}
.skills_container:hover {
    border: 1px solid #66cf2d;
    border-radius: 3rem;
}
.skills_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    margin-inline-start: 2rem;
    font-weight: bold;
}
.skills_list li:hover {
    background-color: pink;
    width: 100%;
}
@media (min-width: 550px) {
    .skills_container {
        width: 40vw;
    }
}
@font-face {
    font-family: 'Nanum_Pen_Script';
    src: local('Nanum_Pen_script'), url(../fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf) format('truetype');
  }
