.background {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: white;
}
.page_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.skills_education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.navbar_group {
    display: block;
    width: 100vw;
    margin: 0.5rem 4rem 0rem 0rem;
}
.navbar_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.navbar_buttons {
    gap: 0.5rem;
    padding: 1rem 2rem;
    height: 6vh;
}
.nav_button {
    padding: 0.1rem 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
}
.nav_button:hover {
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    background-color: #66cf2d;        
}
.button_design {
    background-color: black;
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
    text-transform: lowercase;
    font-size: 1.1rem;
    cursor: pointer;
}
.button_design:hover {
    background-color: #66cf2d;
    font-weight: bold;
    color: white;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    border-radius: 0;
    width: 6rem;
}
.contact_links {
    font-weight: bold;
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}


/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    width: 6rem;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown_content button {
    color: black;
    background-color: #66cf2d;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 6rem;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown_content a:hover {background-color: #df7878;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown_content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #66cf2d;}

  @media (min-width: 400px) {
    .dropbtn {
        font-size: 1.6rem;
    }
  }
  @media (min-width: 1000px) {
    .dropdown {
        display: none;
    }
   
    .navbar_group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-block: 3px solid black;
        margin: 1rem 0rem 0rem 0rem;
        width: 100vw;
    }
    .navbar_group:hover {
        border-block: 3px solid #66cf2d;
    }
    .linkedin, .github {
        display: flex;
        object-fit: contain;
        width: 6rem;
    }
 }
